Options -Indexes

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "SAMEORIGIN"
    Header set Referrer-Policy "strict-origin-when-cross-origin"
</IfModule>

# Empêche l'accès direct aux fichiers sensibles s'ils se retrouvaient dans ce dossier
<FilesMatch "\.(env|sql|md)$">
    Require all denied
</FilesMatch>
